.firstDiv{
  color: blue;
}

.secondDiv{
  color: purple;
  font-size: 32px;

}

#singledout{
  color: brown;
  text-decoration: line-through;
}

h3 + ul {
  border: 4px dotted purple;
}

li a {
  color: green;
}

li a[href='www.npr.org']{
  color: blue;
  border: 5px solid purple;_
}
